*, *:before, *:after {
    -webkit-box-sizing: border-box; /* Needed for mobile WebKit */
    -moz-box-sizing: border-box; /* Needed for Firefox */
    box-sizing: border-box;
   }

html
{
	margin: 0px;
	background: #CDCDCD;
	background-image:url('background_pattern_half.png');
	background-size: cover;
	margin: 0;
}
body
{
	margin: 0 auto;
	margin-top: 70px;
	background-color: rgba(255, 255, 255, 0.2);
}
body#landing
{
	overflow: hidden;
}
h1
{
	font-family: "Trebuchet";
	font-size: 54pt;
	margin: 33px;
	margin-right: 0;
	padding: 0;
	padding-top: 10px;
	float: top;
}
h1.Z
{
	color: gray;
	position: fixed;
	bottom: 0;
	left: 0;
	font-size: 220pt;
	margin: 0;
	padding: 0;
	margin-left: 0px;
	margin-bottom: -60px;
	display: inline;
	opacity: .5;
	z-index: +3;
}
h1.big
{
	position: fixed;
	bottom: -15px;
	left: 195px;
	font-size: 100pt;
	color: gray;
	opacity: .7;
	margin: 0;
	padding:0;
	font-family: "Arial";
}

h2
{
	font-family: "Times";
	font-size: 24pt;
	margin: 30px;
	display: block;
	padding: 0px;
}

ul
{
	width:100%;
	padding:0;
	margin:0;
	list-style-type:none;
}
a
{
	text-decoration: none;
	color: blue;
}
a:hover
{
	color:orange;
}
a.menu_item
{
	color: white;
	left: auto;
	right: auto;
	top: auto;
	bottom: auto;
	float: left;
	width: 20%;
	margin: auto;
	text-align: center;
	padding: 7px;
	margin-top: 10px;
	vertical-align: middle;
}

a.menu_item:hover {
	color: orange;
	background-color: rgba(0,0,0,0.2);
	border: hidden;
	border-radius: 15px;
}

li 
{
	display:inline;
	height: 70px;
	vertical-align: middle;

}

img
{
	float: right;
	float: top;
	position: relative;
	margin: 15px;
	border: 4px solid black;
	border-radius: 20px;
}

p
{
	font-family: "Georgia";
	display: block;
	color: black;
	margin: 30px;
	font-size: 12pt;
}

#header
{
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	height: 70px;
	top: 0px;
	display: block;
	width: 100%;
}

#content
{
	width: 900px;
	top: 10%;
	margin: 0 auto;
	background-color: rgba(255, 255, 255, 1);
	overflow: hidden;
	height: 900px;
}

.box
{
 width: 100%;
 float: left;
 border: 1px hidden;

}
#menu
{
	color: white;
	font-style: bold;
	font-size: 18pt;	
	left: auto;
	right: auto;
	width: 800px;
	margin: 0 auto;
	height: 100%;
}

#container
{
	width: 900px;
	margin: 0px;
}

